# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://jrmknywkyqhhqziyjlbl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpybWtueXdreXFoaHF6aXlqbGJsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg4MzI1MTEsImV4cCI6MjEwNDQwODUxMX0.LOYFJd64TD_Y81Wy8_znxNAP73XNNothqrq52w-fT9g
